{
    "isWorkDevice": false,
    "server_token": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
    "bark_token": "xxxxxxxxxxxxxxxx",
    "apitable_token": "Bearer xxxxxxxxxxxxxxxxxxxxxxx",
    "wifi_home": "xxxxxx",
    "wifi_work": "xxxxxxxxx"
}
